torch==2.3.1
pytorch-lightning==2.6.1
git+https://github.com/jdb78/pytorch-forecasting
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.2
seaborn==0.13.2
scikit-learn==1.4.2
holidays==0.33
plotly==5.22.0